<h2>Edit
  <%= resource_name.to_s.humanize %>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %>
      </div>
      <% end %>

        <div class="field">
          <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
        <% end %>

          <%= link_to "Back", :back %>
