<h1>Cool Hacks</h1>

<p>Cool Hacks にようこそ！</p>

<p>こんにちは
  <%= @user.name %>さん。</p>

<p>下記のURLから本登録を完了させてください。</p>

<%= link_to edit_account_activation_url(@user.activation_token,
email: @user.email), edit_account_activation_url(@user.activation_token,
email: @user.email) %>
