<li id="comment-<%= object.id %>">
  <div style="margin-bottom:10px">
    <span class="user"><%= object.user.name %></span>
    <span class="timestamp" style="margin-bottom: 5px">
            <%= time_ago_in_words(object.created_at) %>
          </span>
  </div>
  <div class="audience-text">
    <%= object.text %>
  </div>

</li>
