<li id="movie-<%= movie.id %>">
  <%= link_to(movie, class: "list-content") do %>
    <img class="thumbnail" src=<%="https://i.ytimg.com/vi/#{movie.content_path}/default.jpg" %> />
    <span class="title"><%= movie.title %></span></br>
    <% if !object[:profile] %>
      <span class="user">Cool Hacksへの投稿者: <%= movie.user.name %></span>
      <% end %>
        <span class="timestamp" style="margin-bottom: 5px">
        <%= time_ago_in_words(movie.created_at) %>前
      </span>
        <% end %>
          <% movie.tag_list.each_with_index do |tag, index| %>
            <%= link_to tag, movies_path(tag: tag), style: 'margin-right:5px' %>
              <% end %>
                <% if object[:profile] %>
                  <%= link_to "編集", edit_movie_path(movie), class: 'btn btn-primary' %>
                    <% end %>
</li>
