<% provide(:title, 'All movies') %>
  <%= form_tag(root_path, method: "get") do %>

    <div class="form-group">
      <div class="radio-inline">
        <%= radio_button_tag :condition, false, params[:condition] ? !or?(params[:condition]) : false %>
          <%= label_tag :condition, "and" %>
      </div>
      <div class="radio-inline">
        <%= radio_button_tag :condition, true, params[:condition] ? or?(params[:condition]) : true %>
          <%= label_tag :condition, "or" %>
      </div>
    </div>
    <div class="input-group" style="width:300px">
      <div class="col-sm-11" style="margin:0px;padding:0px">
        <%= text_field_tag :tag, params[:tag], id: 'movie-tags' %>
      </div>
      <div class="input-group-btn col-sm-1" style="margin:0px;padding:0px;height:36.69px">
        <button type="submit" class="btn btn-info" style="height:100%">検索</button>
      </div>
    </div>

    <% end %>

      <div>
        <% if @movies.any? %>
          <%= will_paginate @movies, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;'%>
            <% if !params[:tag] %>
              <p>総動画数:
                <%= @movies.count %>
              </p>
              <% else %>
                <p>検索結果:
                  <%= @movies.count %>件 (
                    <%= params[:tag] %>)
                </p>
                <% end %>
                  <ol class="movies">
                    <%= render @movies, object: {profile: false} %>
                  </ol>
                  <%= will_paginate @movies, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
                    <% end %>
      </div>
