<%= render 'shared/error_count_message', object: @movie %>
  <h1>投稿フォーム</h1>
  <%= form_for @movie, html: { style: 'margin-bottom: 50px;'}, :builder => MovieFormBuilder do |f| %>
    <!-- <%= render 'shared/error_messages', object: @movie %> -->
    <%= f.label 'タグ' %>
      <%= f.text_field :tag_list, id: 'movie-tags' %>
        <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', :maxlength => 60 %>

            <%= f.label :comment %>
              <%= f.text_area :comment, class: 'form-control', :maxlength => 200 %>

                <%= f.label :content_path %>
                  </br>
                  例) https://www.youtube.com/watch?v=Aa1234567Bb
                  <%= f.text_field :content_path, class: ['form-control','content-path-form'], :maxlength => 58 %>
                    <p>※ あらかじめ埋め込み可能な動画かどうか確認の上投稿してください。</p>

                    <button class="btn" type="button" name="show" id="show" onclick="showTelopEditor()" value=<%=@movie.content_path%>>動画にテロップを入れる ◀︎</button>
                    <button class="btn" type="button" name="hide" id="showed" class="showed" onclick="hideTelopEditor()">動画にテロップを入れる ▼</button>
                    <div class="has-error">
                      <span class="help-block">
                          <% if @movie.errors[:"telops.time"].first == "はすでに存在します" %>
                           <%= (@movie.errors[:"telops.time"].size > 0) ? I18n.t("activerecord.attributes.#{:"telop.time"}") + "は重複しないようにしてください" : "" %>
                           <% else %>
                           <%= (@movie.errors[:"telops.time"].size > 0) ? I18n.t("activerecord.attributes.#{:"telop.time"}") + @movie.errors[:"telops.time"].first : "" %>
                           <% end %>
                        </span>
                      <span class="help-block">
                          <%= (@movie.errors[:"telops.text"].size > 0) ? I18n.t("activerecord.attributes.#{:"telop.text"}") + @movie.errors[:"telops.text"].first : "" %>
                        </span>
                    </div>
                    <div id="telop-editer" class="showed">
                      <div id="player-for-telop"></div>
                      <div style="background-color: #606060;height:40px;width:640px;padding-top:15px;padding-bottom:15px;margin-bottom:15px;margin-top:0px">
                        <div id="seek-bar" style="float: left;width:530px; margin-left: 10px"></div>
                        <div style="float: left;color: #ffffff;margin-left:10px;margin-right:5px">time:</div>
                        <div id="timer" style="float: left;color: #ffffff;">0</div>
                      </div>

                      <table class="table table-striped table-bordered table-hover">
                        <tbody>
                          <tr>
                            <th style="width: 15%">タイミング(秒)</th>
                            <th style="width: 80%">テロップの内容</th>
                          </tr>
                          <%= f.nested_fields_for :telops, wrapper_tag: :tr, :builder => TelopFormBuilder do |q| %>
                            <td style="width: 15%;">
                              <%= q.number_field :time, min: 0, max: 12345, class: 'form-control', style: 'width: 100px;' %>
                                <%= return_button_html.html_safe %>
                            </td>
                            <td style="width: 80%;">
                              <%= q.text_area :text, rows: 4, cols: 50, class: 'form-control', style: ['resize: none;'] %>
                            </td>
                            <td style="width: 5%;">
                              <%= q.remove_nested_fields_link 'Delete', class: 'btn btn-danger' %>
                            </td>
                            <% end %>
                        </tbody>
                      </table>
                      <%= f.add_nested_fields_link :telops, '新しいテロップの追加', class: 'btn btn-success', role: 'button' %>
                    </div>

                    <%= f.submit "投稿", class: "btn btn-primary", style: "margin-top:20px" %>
                      <% end %>
