<%= render 'shared/error_messages', object: @movie %>
  <h1>
    <%= @movie.title %>
  </h1>
  <div style="width:800px; height:100px; margin-bottom:10px; background: #043F37; border: 3px #13927B solid; border-radius:15px;">
    <p id="user-telop" style="color: #ffffff; padding:12px; font-size: 14px;"> テロップ</p>
  </div>
  <div id="player"></div>
  <div style="background-color: #606060;height:40px;width:800px;padding-top:15px;padding-bottom:15px;margin-bottom:15px;margin-top:0px">
    <div id="seek-bar" style="float: left;width:680px;margin-left:10px;"></div>
    <div style="float: left;color: #ffffff;margin-left:10px;margin-right:5px">time:</div>
    <div id="timer" style="float: left;color: #ffffff;">0</div>
  </div>
  <div class="comment">
    <%= text_url_to_link(h(@movie.comment)).html_safe %>
  </div>
  <%= form_for @comment, :url => {:action => :create_comment}, style:'margin-top: 50px' do |f| %>
    <%= f.label 'コメントを投稿する' %>
      <%= f.text_area :text %>
        <%= f.submit '投稿', class: "btn btn-primary pull-right", style: "width:100px" %>
          <% end %>
            <h3>ユーザーコメント</h3>
            <p>全
              <%= @count %>件 </p>
            <div style="min-height: 200px; margin-bottom:50px">
              <ol class="audience-comments">
                <% for comment in @comments %>
                  <%= render 'movies/comment' ,object: comment %>
                    <% end %>
              </ol>
              <!-- <button>コメントをすべて表示</button> -->
            </div>
