<div class="row">
  <aside class="col-md-3">
    <h2>Profile</h2>
    <section class="user_info">
      <p>Name:
        <%= current_user.name %>
      </p>
    </section>
  </aside>
  <div class="col-md-9 mylist">
    <% if @movies.any? %>
      <h3>マイリスト(
        <%= @movies.count %>)</h3>
      <%= will_paginate @movies, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
        <ol class="movies">
          <%= render @movies, object: {profile: true} %>
        </ol>
        <%= will_paginate @movies, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
          <% end %>
  </div>
</div>
