<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%=  object.errors.messages.keys.count %>
        つのエラーがあります。
    </div>
    <ul>
      <%= object.errors.messages %>
        <% object.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
    </ul>
  </div>
  <% end %>
