@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.content-path-form {
  width: 500px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* movies */

.movies {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    min-height: 130px;
  }
  .thumbnail {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .user {
    color: $gray-light;
    margin-top: 5em;
    padding-top: 0;
  }
}

.movie-content {
  margin-top: 15px;
}

.comment {
  height: 120px;
  width: 560px;
  background-color: #f0f0f0;
}

.audience-comments{
  list-style: none;
  overflow: scroll;
  height: 450px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    min-height: 50px;
  }
  .timestamp {
    color: $gray-light;
  }
  .audience-text {
    margin-left: 30px;
  }
}

.showed {
  display: none;
}

#showed {
  display: none;
}

.table-bordered {
  border-style: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

.tagit-hidden-field {
  display: none;
}

.tagit-new {
  width: 40px;
}

#seek-bar .ui-slider-range {
  background: #60a0ff
}

/* profile */

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.mylist{
  border-left: 2px solid #c8c8c8;
}


span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
