<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Cool Hacks", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Home",   index_path %>
          </li>
          <li>
            <%= link_to "投稿",   new_path %>
          </li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "プロフィール", current_user_path %>
                </li>

                <li>
                  <%= link_to "編集", edit_user_registration_path(current_user) %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </li>
            <% else %>
              <li>
                <%= link_to "Log in", new_user_session_path %>
              </li>
              <% end %>
        </ul>
      </nav>
  </div>
</header>
