<!DOCTYPE html>
<html>

<head>
  <title>Cool Hacks</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= include_gon %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <%= render 'layouts/shim' %>

            <%= analytics_init if Rails.env.production? %>
</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= render 'layouts/header' %>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success">
          <%= notice %>
        </p>
        <% end %>
          <% if alert %>
            <p class="alert alert-danger">
              <%= alert %>
            </p>
            <% end %>
              <%= yield %>
    </div>
</body>

</html>
